@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet");

:root {
    --color-white: white;
    --color-serenity: #C4DBE0;
    --color-turquoise: #2EB5E0;
    --color-cyan: #00A8A8;
    --color-midnight-blue: #0C6980;
    --color-charcoal: #2e3331;
    --font-feature: "Playfair Display", serif;
    --font-default: "Source Sans 3", sans-serif;
    --space-xs: 4px;
    --space-sm: calc(var(--space-xs) * 2);
    /*8px*/
    --space-md: calc(var(--space-sm) * 2);
    /*16px*/
    --space-lg: calc(var(--space-md) * 2);
    /*32px*/
    --space-xl: calc(var(--space-lg) * 2);
    /*64px*/
    --space-2xl: calc(var(--space-xl) * 2);
    /*128px*/

    /*  Toggle Button Styles  */
    --toggle-top-offset: 16px;
    --toggle-right-offset: 24px;
    --toggle-icon-size: 50px;
    --toggle-icon-color: #2e3331;
    --toggle-background-color: white;
    --toggle-padding: 4px;
    --toggle-border-radius: 4px;

    /*  Dropdown Styles  */
    --dropdown-background-color: #C4DBE0;
    --dropdown-padding-x: 16px;
    --dropdown-padding-y: 12px;
    --dropdown-border-r: 4px;
    --dropdown-link-color: #0C6980;
    --dropdown-link-size: 16px;
    --dropdown-link-font: "Source Sans 3";
    --dropdown-link-gap: 16px;
    --dropdown-toggle-gap: 16px;
    /* The gap between the toggle and the dropdown */
}

/*css reset*/

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: var(--font-default);
    color: var(--color-charcoal);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-feature);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    line-height: 1.65;

    a {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
}

/* header */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md) var(--space-lg) 0;
}

header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: absolute;
    right: -100px;
    max-width: 10px;
    background-color: var(--dropdown-background-color);
    gap: var(--dropdown-link-gap);
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    border-radius: var(--dropdown-border-r);
    a {
        color: var(--dropdown-link-color);
        text-decoration: none;
        font-family: var(--dropdown-link-font);
    }
}

/* nav sibling of .hamburger toggle where .hamburger toggle contains a checked input */
.hamburger-toggle:has(input:checked)+nav {
    /*  50vw to the left AND the right offset AND the toggle padding so it doesn't overlap the toggle  */
    transform: translate(calc(-100px - var(--toggle-right-offset) - var(--toggle-padding) * 2),
            0);
    max-width: none;
    margin-right: calc(var(--toggle-right-offset) + var(--dropdown-toggle-gap));
}

.logo {
    max-height: 60px;
    width: auto;
}

.hamburger * {
    transition: all 0.3s ease-out;
}

.hamburger {
    position: fixed;
    right: var(--toggle-right-offset);
    top: var(--toggle-top-offset);
}

.hamburger-toggle,
label {
    color: var(--toggle-icon-color);
    z-index: 100;
    cursor: pointer;
}

.hamburger-toggle>* {
    position: absolute;
    right: calc(var(--toggle-right-offset) + var(--toggle-padding) * 2);
    top: 0;
    margin-right: var(--toggle-right-offset);
}

.hamburger input {
    opacity: 0;
    width: var(--toggle-icon-size);
    height: var(--toggle-icon-size);
}

.hamburger input+label i {
    position: absolute;
    background-color: var(--toggle-background-color);
    padding: var(--toggle-padding);
    border-radius: var(--toggle-border-radius);
    font-size: var(--toggle-icon-size);
}

.hamburger input:checked+label i {
    transform: rotate(-180deg);
}

.hamburger input+label .close-icon {
    opacity: 0;
}

.hamburger input:checked+label .menu-icon {
    opacity: 0;
}

.hamburger input:checked+label .close-icon {
    opacity: 100;
}

/* main body section */
main {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    justify-content: center;
    padding: var(--space-lg);
    
}

/* hero section */
.hero {
    background-color: var(--color-midnight-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--space-md);
    padding: var(--space-lg);
    gap: var(--space-md);

    .hero_name {
        text-shadow: 2px 2px 4px #000000;
    }
}

h1 {
    font-size: 2em;
    text-wrap: balance;
}

.hero-image {
    clip-path: ellipse(80% 45%);
}


/* talents and 3 boxes section */
.talents {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);
    
    
}


.article-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    align-items: center;
}

article {
    background-color: var(--color-serenity);
    border-radius: var(--space-md);
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm);


    .article-heading {
        text-shadow: 1px 1px 2px #0C6980;
    }

    .button {
        margin-top: var(--space-sm);
    }
}


.button {
    background-color: var(--color-midnight-blue);
    color: var(--color-white);
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
}

.blurb {
    flex: 1;
    max-width: 786px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: var(--space-xs)
    
}



/* footer */
footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: var(--space-sm);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

.footer-logo {
    width: 40px;
    height: 40px;
}





@media only screen and (min-width: 768px) {
    .hamburger {
        position: relative;
        top: unset;
        right: unset;
    }

    .hamburger-toggle {
        display: none;
    }

    .hamburger nav {
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        right: unset;
        max-width: none;
    }

    footer {
        justify-content: center;
    }

    footer .footer-logo {
        margin-left: 20px;
        margin-right: 20px;
    }



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        gap: var(--space-lg);
        margin-right: 16px;
    }



    .logo {
        height: 100px;
    }


}